html,
body,
#root {
  height: 100%;
}

:root  {
  --ion-color-primary: #F9CE03;
  --ion-color-primary-tint: #FBE167;
  --theme-font-family: 'Roboto', sans-serif;
  --color-primary-1: #F9CE03;
  --color-primary-2: #FBE167;
  --color-primary-3: #594F1F;
  --color-secondary-1: #8B52AF;
  --color-secondary-2: #B892CE;
  --color-secondary-3: #F2EBF7;
  --color-warning-1: #E52011;
  --color-warning-2: #EF7970;
  --color-warning-3: #FAD2CF;
  --color-success-1: #8BC34A;
  --color-success-2: #B9DB92;
  --color-success-3: #E8F3DB;
  --color-background-1: #FFFFFF;
  --color-background-2: #FFFFFF;
  --color-background-3: #F5F5F5;
  --color-background-4: #FFFFFF;
  --color-foreground-1: #333333;
  --color-foreground-2: #7A7A7A;
  --color-foreground-3: #989898;
  --color-grey-1: #F5F5F5;
  --color-grey-2: #EAEAEA;
  --color-grey-3: #D6D6D6;
  --color-button-text-1: #FFFFFF;
  --color-button-text-2: #333333;
  --color-disabled-1: #B8B8B8;
  --color-disabled-2: #E8E8E8;
  --color-shadow: #00000026;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.wrap {
  overflow: hidden;

}
.App-logo {
  height: 30px;
  pointer-events: none;
  margin-right: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  text-align: left;
  margin: 5px;
  display: flex;
} 


.UserChipSetHolder {
}

.MenuHolder {
  flex-grow: 1;
  position: relative;
  z-index: 1000;
}

.MenuItem {
 border: 1px solid blue;
}

.App-link {
  color: #61dafb;
}

#renderer {
  width: 100%;
  height: 100%;
  background-color: #808080;
}
